extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Aenean id erat enim. Nulla facilisi. Ut lectus arcu, tristique vel quam nec, tempor tempor felis. Sed rhoncus sem mi, et scelerisque leo consequat nec. Ut sagittis ut nunc vel porttitor. Aliquam sagittis maximus neque quis venenatis. Duis viverra mi a elit tempus dignissim.
                p Maecenas commodo arcu at erat pellentesque, quis dapibus nulla ultrices. Mauris dapibus rutrum vehicula. Maecenas magna libero, suscipit ac odio rhoncus, sagittis auctor est. Maecenas consequat tellus orci, sed ornare urna tempus in.
                p Donec gravida eget massa sed sagittis. Nulla ac imperdiet tortor. Nullam pretium viverra erat, non bibendum velit pellentesque quis. Donec dolor diam, ultrices et dolor ut, maximus lobortis est. Vestibulum eget purus bibendum mi pulvinar elementum.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Nunc in hendrerit ante. Praesent ultrices mi faucibus consectetur aliquet. Vivamus a urna in magna lobortis sollicitudin sed non sem.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Nunc in hendrerit ante. Praesent ultrices mi faucibus consectetur aliquet. Vivamus a urna in magna lobortis sollicitudin sed non sem. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p  Nunc in hendrerit ante. Praesent ultrices mi faucibus consectetur aliquet. Vivamus a urna in magna lobortis sollicitudin sed non sem. 